/* SECTION home-hero */
.home-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  text-align: center;
  padding: 0 20px;
}

.home-hero .container {
  max-width: 800px;
}

/* TITRE AVEC EFFET MACHINE À ÉCRIRE */
.home-hero .site-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  border-right: 0.15em solid #000;
  white-space: nowrap;
  letter-spacing: 0.1em;
  animation: typing 2.5s steps(9, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/* Autres styles */
.home-hero .site-subtitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.home-hero .site-description {
  font-size: 1.2rem;
  color: #444;
}


