// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

// Ajout du style personnalisé pour le header
.masthead.custom-violet {
  background: #ffffff !important;
  background-image: none !important; /* désactive toute image de fond */
  padding: 100px 0;
  color: #000000 !important; 
}

// Personnalisation du titre et sous-titre
.site-title {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Georgia', serif;
}

.site-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}

.site-title,
.site-subtitle {
  color: #000000 !important;  
}


.masthead.custom-violet .site-title,
.masthead.custom-violet .site-subtitle,
.masthead.custom-violet h1,
.masthead.custom-violet p {
  color: #000000 !important;
}


